<div class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__time">
                Прием заявок: пн-пт 08.00 - 20.00
            </div>
            <div class="header__right">
                <a href="mailto:test@avtopark_test.ru" class="header__mail">test@avtopark_test.ru</a>
                <a href="tel:+74951111111" class="header__phone">+7 (495) 111 11 11</a>
                <a href="tel:+79262222222" class="header__phone">+7 (926) 222 22 22</a>
                <a href="#" class="m-button">
                    {{Icon iconName="button"}}
                    Заказать звонок 
                </a>
            </div>
            <div class="header__border">
                {{Icon iconName="header-line"}}
                {{Icon iconName="header-line"}}
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__logo">
                <img src='static/img/content/logo.svg' alt='Картинка'>
            </div>
            <div class="header__menu">
                <a href="#" class="serv-open">{{Icon iconName="header-1"}}  Услуги {{Icon iconName="header-arrow" className="header__arrow"}} </a>
                <a href="#">{{Icon iconName="header-2"}}  Акции</a>
                <a href="#">{{Icon iconName="header-3"}}  О компании</a>
                <a href="#">{{Icon iconName="header-4"}}  Автопарк</a>
                <a href="#">{{Icon iconName="header-5"}}  Прайс</a>
                <a href="#">{{Icon iconName="header-6"}}  Контакты</a>
            </div>
        </div>
    </div>
    <div class="serv">
        <div class="serv__container">
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз строительного мусора
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Вывоз мусора с участка</a>
                    <a href="#" class="serv__col-link">Вывоз деревоотходов</a>
                    <a href="#" class="serv__col-link">Вывоз мусора с грузчиками</a>
                    <a href="#" class="serv__col-link">Аренда контейнера</a>
                    <a href="#" class="serv__col-link">Аренда бункера</a>
                    <a href="#" class="serv__col-link">Вывоз боя кирпича</a>
                    <a href="#" class="serv__col-link">Вывоз бетона</a>
                    <a href="#" class="serv__col-link">Бункер для вывоза мусора</a>
                    <a href="#" class="serv__col-link">Вывоз мусора в мешках</a>
                    <a href="#" class="serv__col-link">Вывоз асфальта</a>
                    <a href="#" class="serv__col-link">Вывоз мусора в ПУХТО</a>
                    <a href="#" class="serv__col-link">Вывоз мусора после демонтажа</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора из квартиры
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Контейнер 0.8 м3</a>
                    <a href="#" class="serv__col-link">Контейнер 1,1 м3</a>
                    <a href="#" class="serv__col-link">Контейнер 8 м3</a>
                    <a href="#" class="serv__col-link">Контейнер 20 м3</a>
                    <a href="#" class="serv__col-link">Контейнер 27 м3</a>
                    <a href="#" class="serv__col-link">Контейнер 32 м3</a>
                    <a href="#" class="serv__col-link">Вывоз мусора контейнером 36 м3</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора из квартиры
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Вывоз мусора после ремонта</a>
                    <a href="#" class="serv__col-link">Вывоз мебели</a>
                    <a href="#" class="serv__col-link">Вывоз старых окон</a>
                    <a href="#" class="serv__col-link">Вывоз старых дверей</a>
                    <a href="#" class="serv__col-link">Вывоз хлама из квартиры</a>
                    <a href="#" class="serv__col-link">Вывоз дивана</a>
                    <a href="#" class="serv__col-link">Вывоз старого пианино</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз ТБО
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Вывоз мусора из гаража</a>
                    <a href="#" class="serv__col-link">Вывоз пищевого мусора</a>
                    <a href="#" class="serv__col-link">Вывоз мусора после пожара</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз ТКО
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз КГМ
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз промышленных отходов
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора из частного сектора
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора из офиса
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора в Московской области
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз мусора для ИП
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Уборка листьев
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Вывоз снега
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Механизированная уборка снега</a>
                    <a href="#" class="serv__col-link">Утилизация снега</a>
                    <a href="#" class="serv__col-link">Вывоз снега контейнером</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Уборка участка
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Уборка камней</a>
                </div>
            </div>
            <div class="serv__col">
                <div class="serv__col-title">
                    Утилизация мусора
                </div>
                <div class="serv__col-content">
                    <a href="#" class="serv__col-link">Утилизация шин</a>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="mobile-header">
    <div class="header__logo">
        <img src='static/img/content/logo.svg' alt='Картинка'>
    </div>
    <div class="header__humburger menu-open">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" aria-labelledby="hamburgerIconTitle" stroke="#5A8EC6" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#5A8EC6"> <title id="hamburgerIconTitle">Menu</title> <path d="M6 7L18 7M6 12L18 12M6 17L18 17"/> </svg>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
<div class="mobile-menu">
    <div class="mobile-menu-close">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" aria-labelledby="closeIconTitle" stroke="#5A8EC6" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#5A8EC6"> <title id="closeIconTitle">Close</title> <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575"/> </svg>    
    </div>
    <div class="header__menu">
        <a href="#" class="serv-open">{{Icon iconName="header-1"}}  Услуги {{Icon iconName="header-arrow" className="header__arrow"}} </a>
        <div class="serv">
            <div class="serv__container">
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз строительного мусора
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Вывоз мусора с участка</a>
                        <a href="#" class="serv__col-link">Вывоз деревоотходов</a>
                        <a href="#" class="serv__col-link">Вывоз мусора с грузчиками</a>
                        <a href="#" class="serv__col-link">Аренда контейнера</a>
                        <a href="#" class="serv__col-link">Аренда бункера</a>
                        <a href="#" class="serv__col-link">Вывоз боя кирпича</a>
                        <a href="#" class="serv__col-link">Вывоз бетона</a>
                        <a href="#" class="serv__col-link">Бункер для вывоза мусора</a>
                        <a href="#" class="serv__col-link">Вывоз мусора в мешках</a>
                        <a href="#" class="serv__col-link">Вывоз асфальта</a>
                        <a href="#" class="serv__col-link">Вывоз мусора в ПУХТО</a>
                        <a href="#" class="serv__col-link">Вывоз мусора после демонтажа</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора из квартиры
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Контейнер 0.8 м3</a>
                        <a href="#" class="serv__col-link">Контейнер 1,1 м3</a>
                        <a href="#" class="serv__col-link">Контейнер 8 м3</a>
                        <a href="#" class="serv__col-link">Контейнер 20 м3</a>
                        <a href="#" class="serv__col-link">Контейнер 27 м3</a>
                        <a href="#" class="serv__col-link">Контейнер 32 м3</a>
                        <a href="#" class="serv__col-link">Вывоз мусора контейнером 36 м3</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора из квартиры
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Вывоз мусора после ремонта</a>
                        <a href="#" class="serv__col-link">Вывоз мебели</a>
                        <a href="#" class="serv__col-link">Вывоз старых окон</a>
                        <a href="#" class="serv__col-link">Вывоз старых дверей</a>
                        <a href="#" class="serv__col-link">Вывоз хлама из квартиры</a>
                        <a href="#" class="serv__col-link">Вывоз дивана</a>
                        <a href="#" class="serv__col-link">Вывоз старого пианино</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз ТБО
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Вывоз мусора из гаража</a>
                        <a href="#" class="serv__col-link">Вывоз пищевого мусора</a>
                        <a href="#" class="serv__col-link">Вывоз мусора после пожара</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз ТКО
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз КГМ
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз промышленных отходов
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора из частного сектора
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора из офиса
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора в Московской области
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз мусора для ИП
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Уборка листьев
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Вывоз снега
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Механизированная уборка снега</a>
                        <a href="#" class="serv__col-link">Утилизация снега</a>
                        <a href="#" class="serv__col-link">Вывоз снега контейнером</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Уборка участка
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Уборка камней</a>
                    </div>
                </div>
                <div class="serv__col">
                    <div class="serv__col-title">
                        Утилизация мусора
                    </div>
                    <div class="serv__col-content">
                        <a href="#" class="serv__col-link">Утилизация шин</a>
                    </div>
                </div>
               
            </div>
        </div>
        <a href="#">{{Icon iconName="header-2"}}  Акции</a>
        <a href="#">{{Icon iconName="header-3"}}  О компании</a>
        <a href="#">{{Icon iconName="header-4"}}  Автопарк</a>
        <a href="#">{{Icon iconName="header-5"}}  Прайс</a>
        <a href="#">{{Icon iconName="header-6"}}  Контакты</a>
    </div>
    <a href="mailto:test@avtopark_test.ru" class="header__mail">test@avtopark_test.ru</a>
    <a href="tel:+74951111111" class="header__phone">+7 (495) 111 11 11</a>
    <a href="tel:+79262222222" class="header__phone">+7 (926) 222 22 22</a>
    <a href="#" class="m-button">
        {{Icon iconName="button"}}
        Заказать звонок 
    </a>
</div>